.PoolCard, .AddCard
  padding: 1em .4em !important
  transition: all .23s ease-in-out

  &.AddCard
    position: relative

    .AddContent
      position: absolute
      top: 50%
      left: 50%
      text-align: center
      font-size: 1.1em
      transform: translate(-50%, -50%)

      span
        font-size: 3em
        margin: 0 auto
        display: block

        svg
          font-size: 1em
          width: 1em
          height: 1em

  .Logo
    width: 160px
    height: 160px
    margin: 0 auto
      bottom: 1em
    transition: all .23s ease-in-out

    svg
      width: 100%
      height: 100%

  &:hover
    transform: scale(.985)

    .Logo
      transform: scale(1.1)

  &:active
    transform: scale(.95)

    .Logo
      transform: scale(1.2)