@use "../variables"
  
.Nav
  padding: 1.55em 6em
  display: flex
  justify-content: space-between
  align-items: center

  a
    text-decoration: none
    cursor: pointer

  .Title
    height: 1.6em
    color: #fff
    cursor: pointer
    transition: all .23s ease-in-out

    svg
      height: 100%

    &:hover
      opacity: .8

  .Menu
    position: relative
    display: flex
    align-items: center

    .Item
      color: #888
      font-size: .95em
      font-weight: 500
      cursor: default
      margin: 0 .65em

    .MenuPopup
      position: absolute
      top: 100%
      background-color: variables.$tooltip-bg
      border-radius: 15px
      padding: .7em 1em
      width: max-content
      transition: all .23s ease-in-out

      &::before
        $height: 2em
        content: ''
        bottom: calc(100% + #{$height})
        height: $height
        width: 100%