.Nav
  padding: 1.55em 6em
  display: flex
  justify-content: space-between
  align-items: center

  a
    text-decoration: none
    cursor: pointer

  .Title
    height: 1.6em
    color: #fff
    cursor: pointer
    transition: all .23s ease-in-out

    svg
      height: 100%

    &:hover
      opacity: .8

  .Menu
    display: flex
    align-items: center

    .Item
      color: #888
      font-size: .95em
      font-weight: 500
      cursor: default
      margin: 0 .65em